@import '~antd/dist/antd.less';

.current-level {
    margin: 10px !important;
    border: 2px solid @primary-3 !important;
    border-radius: 50px !important;

    .time-on-level {
        font-size: 4em;
        font-weight: lighter;
        // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: @primary-10;
        text-align: center;
    }

    .username {
        font-size: 2em;
        font-weight: bold;
        color: @primary-10;
    }

    .level-code {
        font-size: 1.8em;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.level-viewer-modal {
    &.ant-modal {
        width: 100% !important;
        height: 88% !important;
    }

    .ant-modal-content, .ant-modal-body {
        height: 100%;
    }
    
}

.current-level-action {
    margin: 5px;

    &.view-level {
        margin: 10px 5px;
    }
}