@import '~antd/dist/antd.less';

.header {
    z-index: 999;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: @primary-color;

    .header-title, .header-icon {
        font-size: 2em;
        color: @white;
    }

    .logout-icon {
        color: @white;
        // transition: color 0.15s linear;
    }

    // .header-menu-button {
    //     display: none;
    // }
}

@media all and (max-width: 810px) {
    .header {
        // .app-menu {
        //     .menu-item {
        //         &.active {
        //             background: @primary-color;
        //         }
        //     }
        // }
        
        .menu-item-link, .sub-menu {
            display: none;
        }
    
        // .header-menu-button {
        //     display: block;
        // }

        .socket-state {
            .socket-state-text {
                display: none;
            }
        }
    }
    
}
