@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Main Layout */
.layout-header {
    position: absolute;
    top: 0px;
    right: 0px;
    height: @header-height;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -3px 15px 1px @primary-7;
}

.layout-routes {
    position: absolute;
    top: @header-height;
    bottom: @footer-height;
    left: 0px;
    right: 0px;
    overflow: hidden !important;
}

.layout-footer {
    position: absolute;
    bottom: 0px;
    height: @footer-height;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 8px;
    z-index: 10;
    box-shadow: 0 3px 17px 1px @primary-7;
}

.header-title, .header-icon {
    font-size: 2.5em;
    color: @primary-7;
}

.socket-state-container {
    padding: 8px;
    // margin: 10px;
    border-radius: 5px;

    &.connecting {
        background-color: @warning-color;
    }
    &.connected {
        background-color: @success-color;
    }
    &.disconnected {
        background-color: @error-color;
    }

    .socket-state {
        font-size: 1.2em;
        // font-weight: lighter;
        color: @white;
        
    }
}



.primary {
    color: @primary-color;
}

.bold {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@header-height: 60px;
@footer-height: 0px;

.chat-viewer {
    height: calc(100vh - 325px);
    overflow: hidden;
    .ant-card-body {
        overflow: auto;
        max-height: 90%;
    }

}

.ant-tooltip-inner {
    text-align: center !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
