@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Main Layout */
.layout-header {
    position: absolute;
    top: 0px;
    right: 0px;
    height: @header-height;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -3px 15px 1px @primary-7;
}

.layout-routes {
    position: absolute;
    top: @header-height;
    bottom: @footer-height;
    left: 0px;
    right: 0px;
    overflow: hidden !important;
}

.layout-footer {
    position: absolute;
    bottom: 0px;
    height: @footer-height;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 8px;
    z-index: 10;
    box-shadow: 0 3px 17px 1px @primary-7;
}

.header-title, .header-icon {
    font-size: 2.5em;
    color: @primary-7;
}

.socket-state-container {
    padding: 8px;
    // margin: 10px;
    border-radius: 5px;
    min-width: 50px;

    &.connecting {
        background-color: @warning-color;
    }
    &.connected {
        background-color: @success-color;
    }
    &.disconnected {
        background-color: @error-color;
    }

    .socket-state {
        font-size: 1.2em;
        // font-weight: lighter;
        color: @white;
        
    }
}



.primary {
    color: @primary-color;
}

.bold {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

@header-height: 60px;
@footer-height: 0px;

.chat-viewer {
    height: calc(100vh - 325px);
    overflow: hidden;
    .ant-card-body {
        overflow: auto;
        max-height: 90%;
    }

}

.ant-tooltip-inner {
    text-align: center !important;
}

.ant-message {
    position: absolute;
    bottom: 20px !important;
    top: unset !important;
    transform: scale(1.5);
  }

  /* 
The following class-endings: *-enter, *-enter-active, *-exit, *-exit-active,
have very specific meanings to <CSSTransition />
(see more: https://reactcommunity.org/react-transition-group/css-transition)
*/

.fade-enter {
    opacity: 0;
    transform: translate(50px, 0);
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  
    transition: opacity 300ms ease-out, transform 350ms ease;
  }
  .fade-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transform: translate(0, 50px);
  
    transition: opacity 300ms ease-out, transform 350ms ease;
  }