@import '~antd/dist/antd.less';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Main Layout */
.layout-header {
    position: absolute;
    top: 0px;
    right: 0px;
    height: @header-height;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    box-shadow: 0 -3px 15px 1px @primary-7;
}

.layout-routes {
    position: absolute;
    top: @header-height;
    bottom: @footer-height;
    left: 0px;
    right: 0px;
    overflow: auto !important;
}

.layout-footer {
    position: absolute;
    bottom: 0px;
    height: @footer-height;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 8px;
    z-index: 10;
    box-shadow: 0 3px 17px 1px @primary-7;
}

// .ant-modal-mask {
//     background-color: @custom-overlay-background !important;
// }

.ant-card-head {
    // border-bottom: 1px solid @border-color-base;
}

.ant-card-body {
    // box-shadow: 15px 15px 30px -15px @primary-7;
}

// Fix row margins when gutters are used
// .ant-row {
//     margin-right: 0 !important;
//     margin-left: 0 !important;
//   }
  
//   .ant-col:first-child {
//       padding-left: 0 !important;
//   }
  
//   .ant-col:last-child {
//     padding-right: 0 !important;
//   }

.header-title, .header-icon {
    font-size: 2.5em;
    color: @primary-7;
}



.primary {
    color: @primary-color;
}

.bold {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@header-height: 60px;
@footer-height: 0px;

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
