@import '~antd/dist/antd.less';

.queue-record {
    .wins {
        .ant-statistic-content-value {
            font-weight: lighter;
        }
    }
    .losses {
        .ant-statistic-content-value {
            font-weight: lighter;
        }
    }
    .percent {
        .ant-statistic-content-value {
            font-weight: bold;
        }
    }
}